:global * { margin: 0; padding: 0 }

:root {
  --cannonWidth: 50px;
  --cannonHeight: 50px;
}

:global(:root),
:global(.app),
.game {
  width: 100%;
  height: 100%;
}

.game {
  position: relative;
  background: #000;
  overflow: hidden;
}

.cannon {
  position: absolute;
  bottom: 0;
  width: var(--cannonWidth);
  height: var(--cannonHeight);
  background: url(/assets/cannon.svg) no-repeat bottom left;
  background-size: contain;
}

.projectile {
  position: absolute;
  width: 2px;
  height: 15px;
  background: #fff;
}

:export {
  cannonWidth: var(--cannonWidth);
  cannonHeight: var(--cannonHeight);
}
