:global * { margin: 0; padding: 0 }

:root {
  --cannonWidth: 50px;
  --cannonHeight: 50px;
  --invaderWidth: 50px;
  --invaderHeight: 50px;
}

@font-face {
	font-family: "04b03";
	src: url("/assets/04b03.eot");
	src: url("/assets/04b03.eot?#iefix") format("embedded-opentype"),
		url("/assets/04b03.woff2") format("woff2"),
		url("/assets/04b03.woff") format("woff"),
		url("/assets/04b03.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:global(:root),
:global(.app),
.game {
  width: 100%;
  height: 100%;
}

.game {
  position: relative;
  background: #000;
  overflow: hidden;
}

.cannon {
  position: absolute;
  bottom: 0;
  width: var(--cannonWidth);
  height: var(--cannonHeight);
  background: url(/assets/cannon.svg) no-repeat bottom left;
  background-size: contain;
}

.projectile {
  position: absolute;
  width: 2px;
  height: 15px;
  background: #fff;
}

.invader {
  display: block;
  width: var(--invaderWidth);
  height: var(--invaderHeight);
  position: absolute;
}

.smallInvader {
  composes: invader;
  background: red;
}

.mediumInvader {
  composes: invader;
  background: green;
}

.largeInvader {
  composes: invader;
  background: blue;
}

.score {
  position: absolute;
  left: 20px;
  top: 20px;
}

.lives {
  position: absolute;
  top: 20px;
  right: 20px;
}

.scoreText {
  font-family: "04b03";
  font-size: 30px;
  color: #fff;
}

.scoreValue {
  color: #22ea22;
}

.endScreen {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #da5151;
  font-family: "04b03";
  font-size: 120px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

:export {
  cannonWidth: var(--cannonWidth);
  cannonHeight: var(--cannonHeight);
  invaderWidth: var(--invaderWidth);
  invaderHeight: var(--invaderHeight);
}
